/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/mag -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name             = 'Test profile'
    config_profile_description      = 'Minimal test dataset to check pipeline function'

    // Input data
    input                           = params.pipelines_testdata_base_path + 'mag/samplesheets/samplesheet.multirun.csv'

    skip_megahit                    = true
    clip_tool                       = 'trimmomatic'
    skip_krona                      = true
    skip_prokka                     = true
    exclude_unbins_from_postbinning = true
    binqc_tool                      = 'checkm2'
    refine_bins_dastool             = true
    postbinning_input               = 'refined_bins_only'
    skip_prodigal                   = true
    skip_metaeuk                    = true
    skip_gtdbtk                     = true
    spades_use_contigs_not_scaffolds=true
}
